
body {
    font-family: "Roboto", sans-serif;
    background-color:aliceblue;
  }
.ejercicios{
padding: 100px;
}

/*ejercicio 1*/
.caja{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.cajas{
    display: flex;
    justify-content: space-around;
}

.verde{
    background: green;
}
.rojo{
    background: red;
}
.azul{
    background: blue;
}
.caja,
textarea,
button{
    border-radius: 5px;
}