nav {
    background:  linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("../../../public/imgHome/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: row;
    justify-content:space-around;   
    padding: 20px 0;
    height: 50px;
  }
  
nav .navegacion{
  display: flex; 
  } 

a{
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: #361800;

  }
a:hover,
a.active {
  
    color: rgb(172, 49, 0);
  }
